
<!doctype html>
<html lang="en">
    <head>
        <meta charSet="UTF-8"/>
        <title>Welcome from mini social media platform</title>
    </head>
    <body>
        <h1>Welcome to mini social media <%= username %>! </h1>
        <p>
            we are happy to have you on board. start connecting with friends
            and share your moments togethers! 
        </p>
    </body>
<html>